{% extends 'base.html' %}


{% block style %}
<style>


@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color: #55878d;
    --red: red;
    --light-color: #777;
    --light-bg: #eee;
    --black: #2c3e50;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid rgba(0, 0, 0, .2);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

   
}






html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-bg);
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
    padding: 1rem 0;

}

.section-title {
    background-color: var(--main-color);
    margin-bottom: 1.5rem;
    color: var(--white);
    text-align: center;
    padding: 2rem 2rem;
    clip-path: polygon(100% 0%, 98% 50%, 100% 99%, 0% 100%, 2% 50%, 0% 0%);

    font-size: 4rem;
    font-weight: 800;
    text-transform: capitalize;

}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;

    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--main-color);
    border-radius: .5rem;
    text-transform: capitalize;
    text-align: center;


}

.btn:hover {
    background-color: var(--black);
}

.flex-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    flex-wrap: wrap;
}










.category .box-container .box {
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2rem;
    background-color: var(--white);
    display: flex;
    align-items: center;
    gap: 2rem;
}
 
.category .box-container .box i {
    height: 4.5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 1.8rem;
    color: var(--black);
    background-color: var(--light-bg);
    border-radius: .5rem;
    text-align: center;
} 

.category .box-container .box h3 {
    font-size: 1.8rem;
    color: var(--black);
    padding-bottom: .5rem;
    text-transform: capitalize;
} 

.category .box-container .box span {
    font-size: 1.6rem;
    color: var(--light-color);
}

.category .box-container .box:hover {

    background-color: var(--black);
}

.category .box-container .box:hover h3 {
    color: var(--white);
}

.category .box-container .box:hover span {
    color: var(--white);
}

.category .box-container .box:hover i {
    color: var(--black);
    background-color: var(--white);
}

.jobs-container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.jobs-container .box-container .box {
    background-color: var(--white);
    border-radius: .5rem;
    border: var(--border);
    padding: 2rem;
    box-shadow: var(--box-shadow);
    overflow-x: hidden;
}

.jobs-container .box-container .box .company {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.jobs-container .box-container .box .company img {
    height: 6rem;
    width: 6rem;
    object-fit: contain;
}

.jobs-container .box-container .box .company h3 {
    font-size: 1.8rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-transform: capitalize;
    padding-bottom: .5rem;
}

.jobs-container .box-container .box .company span {
    color: var(--light-color);
    font-size: 1.6rem;


}

.jobs-container .box-container .box .job-title {
    font-size: 1.8rem;
    color: var(--black);
    text-transform: capitalize;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.jobs-container .box-container .box .location {
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.jobs-container .box-container .box .location i {
    margin-right: .5rem;
    color: var(--main-color);
}

.jobs-container .box-container .box .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.2rem 0;
}

.jobs-container .box-container .box .tags p {
    padding: 1.2rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    font-size: 1.4rem;
    color: var(--light-color);
}

.jobs-container .box-container .box .tags p i {
    margin-right: .5rem;
    color: var(--black);
}

.jobs-container .box-container .box .fa-heart {
    background-color: var(--light-bg);
    border-radius: .5rem;
    color: var(--light-color);
    font-size: 1.8rem;
    cursor: pointer;
    height: 4rem;
    width: 4.5rem;
    line-height: 4rem;
}

.jobs-container .box-container .box .fa-heart:hover {
    background-color: var(--black);
    color: var(--white);
}


.job-filter form {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
}

.job-filter form .flex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;

}

.job-filter form .flex .box {
    flex: 1 40rem;
}

.job-filter form .flex .box p {
    font-size: 1.6rem;
    color: var(--light-color);
}

.job-filter form .flex .box p span {
    color: var(--red);
}

.job-filter form .flex .box .input {
    width: 100%;
    border-radius: .5rem;
    padding: 1.4rem;
    color: var(--black);
    margin: 1rem 0;
    background-color: var(--light-bg);
    font-size: 1.7rem;
}

.job-filter form .dropdown-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.job-filter form .dropdown-container .dropdown {
    flex: 1 1 20rem;
    position: relative;
}

.job-filter form .dropdown-container .dropdown .output {
    width: 100%;
    background: var(--light-bg);
    border-radius: .5rem;
    padding: 1.4rem;
    font-size: 1.6rem;
    color: var(--black);
    user-select: none;
    cursor: pointer;
    text-align: center;
}

.job-filter form .dropdown-container .dropdown .output:placeholder-shown {
    text-transform: capitalize;
}

.job-filter form .dropdown-container .dropdown .lists {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--white);
    border: var(--border);
    box-shadow: var(--box-shadow);
    z-index: 10;
    
    transform: scaleY(0);
    transform-origin: top;

}

.job-filter form .dropdown-container .dropdown .lists .items {
    padding: 1.2rem 1.4rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    color: var(--black);
    cursor: pointer;

}

.job-filter form .dropdown-container .dropdown .lists .items:hover {
    background-color: var(--light-bg);
}

.job-filter form .dropdown-container .dropdown .lists:hover,
.job-filter form .dropdown-container .dropdown:hover .lists,
.job-filter form .dropdown-container .dropdown .output:focus+.lists,
.job-filter form .dropdown-container .dropdown .output:focus-within+.lists {
    transform: scaleY(1);
    transition: .2s linear;
}

.job-details .details{
    background-color: var(--white);
    border-radius: .5rem;
    border: var(--border);
    padding: 2rem;
    box-shadow: var(--box-shadow);
    overflow-x: hidden;
}
.job-details .details h3{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.job-details .details .job-info a {
    display: block;
    font-size: 1.6rem;
    color: var(--main-color);
    padding: .5rem 0;
    text-transform: capitalize;
}
.job-details .details .job-info a:hover{
    text-decoration: underline;
}

.job-details .details .job-info p{
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--light-color);
}
.job-details .details .basic-details{
    background-color: var(--light-bg);
    margin: 1.5rem 0;
    border-radius: .5rem;
    padding: 2rem;
    padding-bottom: 0;
}
.job-details .details .basic-details p{
    color: var(--light-color);
    padding-bottom: 1.4rem;
    font-size: 1.6rem;
}
.job-details .details ul{
    margin: 1rem 0;

}

.job-details .details ul li{
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--light-color);
    text-transform: capitalize;
    margin-left: 3rem;
}

.job-details .details .description{
    margin-top: 1.6rem;
}
.job-details .details .description p{
    font-size: 1.6rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: .5rem 0;
}
.job-details .details .save{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1rem 1.4rem;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1.8rem;
}
.job-details .details .save:hover{
    background-color: var(--black);
}
.job-details .details .save i{
    margin-right: .5rem;
    color: var(--black);

}

.job-details .details .save span{
    color: var(--light-color);
}
.job-details .details .save:hover i{
    color: var(--white);
}
.job-details .details .save:hover span{
    color: var(--white);
}





@media(max-width:991px) {

    html {
        font-size: 55%;
    }

    .section-title {
        font-size: 3.5rem;
    }
}
@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .section-title {
        font-size: 2rem;
        padding: 1rem 1rem;

    }
}
.search-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-btn:hover {
    background-color: #0056b3;
}
</style>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<section class="job-filter">
    <h1 class="heading" style="color:white;">Filter Jobs</h1>
    <form action="/" method="post">
        <div class="flex">
            <div class="box">
                <p>Job Title <span>*</span></p>
                <input type="text" name="title" placeholder="Keyword, category, or company" maxlength="20" class="input">
            </div>
            <div class="box">
                <p>Job Location</p>
                <input type="text" name="location" placeholder="City, state, or country" maxlength="50" class="input">
            </div>
        </div>
        <button type="submit" class="search-btn">Search</button>
    </form>
</section>



<section class="jobs-container">

    <h1 class="heading" style="color:white;">all jobs</h1>

    <div class="box-container">

        <div class="box">
            <div class="company">
                <img src="https://drmcnatty.com/wp-content/uploads/2016/08/Microsoft-Logo-HD.jpg" alt="">
                <div>
                    <h3>Microsoft</h3>
                    <span>3 days ago</span>
                </div>
            </div>
            <h3 class="job-title">senior system engineer</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Noida, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>35k - 50k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day-shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('microsoft')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://passionateaboutoss.com/directory/wp-content/uploads/2019/09/Accenture-Logo-3969515967.png" alt="">
                <div>
                    <h3>Accenture</h3>
                    <span>3 days ago</span>
                </div>
            </div>
            <h3 class="job-title">PHP Developer</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Bengaluru, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>50k - 70k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full time</span></p>
                <p><i class="fas fa-clock"></i><span>day-shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('microsoft')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyScqUYp_Z4-y_t5SnC4zgucTtum5yuJUe0A&s" alt="">
                <div>
                    <h3>Infosys</h3>
                    <span>1 week ago</span>
                </div>
            </div>
            <h3 class="job-title">Web Developer</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Gurgaon, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>20k - 30k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day-shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('microsoft')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Meta_Platforms_Inc._logo_%28cropped%29.svg/1200px-Meta_Platforms_Inc._logo_%28cropped%29.svg.png" alt="">
                <div>
                    <h3>Meta</h3>
                    <span>5 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Java Developer</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Mumbai,India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>45k - 50k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day-shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('microsoft')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1024px-Google_%22G%22_logo.svg.png" alt="">
                <div>
                    <h3>Google</h3>
                    <span>2 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Web designer</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Hyderabad, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>20k</span></p>
                <p><i class="fas fa-briefcase"></i><span>part-time</span></p>
                <p><i class="fas fa-clock"></i><span>flexible shifts</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('microsoft')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="">
                <div>
                    <h3>Apple</h3>
                    <span>4 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Data Scientist </h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Pune, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>60k - 90k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('amazon')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://i.pinimg.com/originals/01/ca/da/01cada77a0a7d326d85b7969fe26a728.jpg" alt="">
                <div>
                    <h3>Amazon</h3>
                    <span>1 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Data Scientist</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Noida,India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>35k - 50k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day-shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('amazon')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://i.pinimg.com/736x/a1/d5/af/a1d5afdace642c517d0cff0962a68679.jpg" alt="">
                <div>
                    <h3>Tata</h3>
                    <span>2 days ago</span>
                </div>
            </div>
            <h3 class="job-title">PHP Developer</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Indore, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>30k - 70k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day-shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('microsoft')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://gimgs2.nohat.cc/thumb/f/640/file-oyo-rooms-logo-png-wikipedia--comdlpng6936159.jpg" alt="">
                <div>
                    <h3>Web Solutions</h3>
                    <span>2 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Web Developer</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Delhi, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>20k - 30k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day-shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('microsoft')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://cdn.iconscout.com/icon/free/png-256/free-dell-logo-icon-download-in-svg-png-gif-file-formats--google-logos-pack-icons-1581243.png?f=webp&w=256" alt="">
                <div>
                    <h3>Dell</h3>
                    <span>5 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Web Developer</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Mohali, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>55k - 80k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day-shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('microsoft')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://seeklogo.com/images/F/flipkart-logo-3F33927DAA-seeklogo.com.png" alt="">
                <div>
                    <h3> Flipkart</h3>
                    <span>1 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Business systems analyst</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Chennai, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>20k</span></p>
                <p><i class="fas fa-briefcase"></i><span>part-time</span></p>
                <p><i class="fas fa-clock"></i><span>flexible shifts</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('microsoft')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaaq5TC1huYm11Wfh2r25PRcxZXIu4YwErMErYpUzTP751rylw" alt="">
                <div>
                    <h3>Oracle</h3>
                    <span>5 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Data Scientist </h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Mumbai, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>50k - 80k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('amazon')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://assets.channelinsider.com/uploads/2022/03/CI.Profile.Deloitte-1024x1024.jpg" alt="">
                <div>
                    <h3>Deloitte</h3>
                    <span>2 week ago</span>
                </div>
            </div>
            <h3 class="job-title">Web Developer</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Chennai, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>60k - 90k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('amazon')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fa27a43b7-f1ec-4586-9898-5f43c9b7cdbf_1000x1000.jpeg" alt="">
                <div>
                    <h3>IBM</h3>
                    <span>4 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Software Developer</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Delhi, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>30k - 50k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('amazon')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://awsmp-logos.s3.amazonaws.com/f097e641-5662-4b8d-87aa-368b56271d23/3899e43a042abf3ca26752e327be7345.png" alt="">
                <div>
                    <h3>Wipro</h3>
                    <span>1 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Data Scientist </h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Banglore, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>60k - 80k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('amazon')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://images.samsung.com/is/image/samsung/assets/in/about-us/brand/logo/mo/360_197_1.png?$720_N_PNG$" alt="">
                <div>
                    <h3>Samsung</h3>
                    <span>1 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Web Developer </h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Surat, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>35k - 70k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('amazon')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://mma.prnewswire.com/media/1631809/Masai_Logo.jpg?p=facebook" alt="">
                <div>
                    <h3>Masai School</h3>
                    <span>5 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Data Scientist </h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Bengaluru, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>60k - 80k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('amazon')}}" class="btn">view details</a>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="https://download.logo.wine/logo/HCL_Technologies/HCL_Technologies-Logo.wine.png" alt="">
                <div>
                    <h3>HCL Technologies</h3>
                    <span>4 days ago</span>
                </div>
            </div>
            <h3 class="job-title">Devops Engineer </h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>Hyderabad, India</span></p>
            <div class="tags">
                <p><i class="fas fa-indian-rupee-sign"></i><span>30k - 70k</span></p>
                <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                <p><i class="fas fa-clock"></i><span>day shift</span></p>
            </div>
            <div class="flex-btn">
                <a href="{{url_for('amazon')}}" class="btn">view details</a>
            </div>
        </div>
     </div>
</section>



{% endblock %}


{% block script %}
<script>
let dropdown_items = document.querySelectorAll('.job-filter form .dropdown-container .dropdown .lists .items');
dropdown_items.forEach(items => {
    items.onclick= () =>{
        items_parent=items.parentElement.parentElement;
        let output= items_parent.querySelector('.output');
        output.value=items.innerText;

    }
});    
document.addEventListener("DOMContentLoaded", function () {

    const menuBtn = document.getElementById("menu-btn");
    const navbar = document.querySelector(".navbar");

    if (menuBtn && navbar) {
        menuBtn.addEventListener("click", function () {
            navbar.classList.toggle("active");
        });
    }


    let dropdownItems = document.querySelectorAll(".dropdown .lists .items");
    dropdownItems.forEach(item => {
        item.addEventListener("click", function () {
            let parent = item.closest(".dropdown");
            let output = parent.querySelector(".output");
            output.value = item.innerText;
        });
    });


    const searchForm = document.querySelector(".job-filter form");
    if (searchForm) {
        searchForm.addEventListener("submit", function (event) {
            event.preventDefault(); 
            const titleInput = document.querySelector("input[name='title']").value.toLowerCase();
            const locationInput = document.querySelector("input[name='location']").value.toLowerCase();
            filterJobs(titleInput, locationInput);
        });
    }

    function filterJobs(title, location) {
        let jobBoxes = document.querySelectorAll(".jobs-container .box");

        jobBoxes.forEach(box => {
            let jobTitle = box.querySelector(".job-title").innerText.toLowerCase();
            let jobLocation = box.querySelector(".location span").innerText.toLowerCase();

            if (jobTitle.includes(title) && jobLocation.includes(location)) {
                box.style.display = "block";
            } else {
                box.style.display = "none";
            }
        });
    }
});

</script>
{% endblock %}


