{% extends 'base.html' %}

{% block style %}
<style>
    .login-container {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        width: 80%;
        max-width: 900px;
        height: 50%;
    }

    .image-container {
        flex: 1;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .form-container {
        flex: 1;
        padding: 40px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .form-title {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    .form-group {
        margin-bottom: 15px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .btn {
        background-color: #222A37;
        color: white;
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #444;
    }

    .login-prompt {
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
        color: #555;
    }

    .login-prompt a {
        color: #222A37;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="main">
    <div class="login-container">
        <!-- Left side with image -->
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/login.png') }}" alt="login" height="580px" width="500px">
        </div>

        <!-- Right side with form -->
        <div class="form-container">
            <h2 class="form-title">Login</h2>
            <form action="{{ url_for('login') }}" method="POST">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="login-prompt">
                    <a href="{{ url_for('who_are_you') }}">Don't have an Account? Signup</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
